PROJECT_NAME="Movie theater"
PROJECT_DESCRIPTION="The best movie theater for averyone"

DEBUG=True
SECRET_KEY=folaskdfjYHLHhjlhljkh7678yhlkjgkfkfgkjo

SQL_ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=secret
POSTGRES_DB=content

SQL_HOST=theatre-db
SQL_PORT=5432
SQL_OPTIONS=-c search_path=public,content
DATABASE_TYPE=postgres

DB_NAME=postgres

ALLOWED_HOSTS = 'localhost,127.0.0.1,[::1]'
CORS_ALLOWED_ORIGINS = 'http://127.0.0.1:8080,http://localhost:8080'
